<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-wdith, initial-scale-1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Goodyearwelt Sizes</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

  <style>
  .hidden {
    display: none;
  }
  </style>
</head>

<body>
  <section class="hero has-shadow">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">Goodyearwelt Sizes</h3>
        <h3 class="subtitle">
          Sizing recommendations from <a class="has-text-link" href="https://reddit.com/r/goodyearwelt">/r/goodyearwelt</a>
        </h3>
      </div>
    </div>
  </section> <!-- /hero -->

  <section class="main-content columns is-fullheight">
    <nav id="sidebar" class="panel column is-3 is-fullheight">
      <p class="panel-heading">Browse</p>

      <p id="search-tabs-container" class="panel-tabs">
        <a class="is-active" data-target="brannock">Brannock</a>
        <a data-target="mlast">Model &amp; Last</a>
      </p>

      <div id="select-opts-container">
        <div id="brannock-selections-container">
          {{#sizes}}
          <a class="panel-block" data-target="size" data-value="{{size}}">
            <div class="column">
              <div class="is-pulled-left">
                <span class="panel-icon">
                  <i class="fas fa-shoe-prints" aria-hidden="true"></i>
                </span>
                {{size}}
              </div>
              <div class="is-pulled-right">
                <span class="tag is-dark is-rounded">{{count}}</span>
              </div>
            </div>
          </a>
          {{/sizes}}
        </div>

        <div id="mlast-selections-container" class="hidden">
          {{#mlasts}}
          <a class="panel-block" data-target="mlast" data-value="{{mlast}}">
            <div class="column">
              <div class="is-pulled-left">
                <span class="panel-icon">
                  <!-- TODO: a different icon -->
                  <i class="fas fa-shoe-prints" aria-hidden="true"></i>
                </span>
                {{mlast}}
              </div>
              <div class="is-pulled-right">
                <span class="tag is-dark is-rounded">{{count}}</span>
              </div>
            </div>
          </a>
          {{/mlasts}}
        </div>

      </div> <!-- /select-opts-container -->
    </nav> <!-- /sidebar -->

    <div class="container column is-7 is-offset-1">
      <div id="table-container" class="section">
      </div> <!-- /table-container -->
    </div>

  </section> <!-- /main-content -->
</body>

<script src="js/ui.js"></script>
</html>
