<table class="table is-hoverable is-fullwidth">
  <thead class="has-background-light">
    <tr>
      <th>Brannock</th>
      <th>Model &amp; Last</th>
      <th>Tag</th>
      <th>Convention</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    {{#records}}
      <tr>
        <td>{{brannockSize}}</td>
        <td>{{mlast}}</td>
        <td>{{tagSize}}</td>
        <td>{{{intl}}}</td>
        <td>
          <a href="{{commentUrl}}" target="_blank" rel="noopener noreferrer">{{text}}</a>
        </td>
      </tr>
    {{/records}}
  </tbody>
</table>
